.hamburger-wrapper{
    position: absolute;
    left: 0px;
    display: none;
}
.hamburger-menu{
    z-index: 5;
    background-color: rgba(255, 0, 0, 0.512);
    margin-left: -40px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0;
    transform: translateY(100%);
    color: white;
    align-items: flex-start;
    display: none;
}
.hamburger-drop{
    animation: drop 1s forwards ;
}
.hamburger-up{
    animation: up 1s forwards ;
}
@keyframes drop {
    from{
        opacity: 0;
    transform: translateY(100%);
    }to{
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes up {
    from{
        transform: translateY(0%);
        opacity: 1;
    }to{

    transform: translateY(100%); 
    opacity: 0;
    }
}
.hamburger-menu ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}
.hamburger-menu ul li{
    padding: 10px;
    
}
.hamburger-menu ul li:hover{
    color: black;
    cursor: pointer;
    font-weight: bold;
}
@media screen and (max-width:1050px) {
    .navbar-list-wrapper{
        display: none;
    }
    .hamburger-wrapper{
        display: flex;
        z-index: 6;
    }
}