.newBox-outer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.newBox{
    z-index: 8;
    top: 100px;
    position: absolute;
    width: 40vw;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 0px 100px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.newBox-title-wrapper{
    margin: 5px ;
    display: flex;
    flex-wrap: wrap;
}
.newBox-headline{
    font-size:1.2rem;
    font-weight: bold;
}
.newBox-author{
    font-size: 1rem;
    width: 60%;
    font-style: italic;
}
.newBox-date{
    font-size: 0.8rem;
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: right;
}
.newBox-img{
    height: 70%;
    overflow-y: hidden;
}
.newBox-img img{
    height: auto;
    width: 100%;
}
.newBox-content{
    margin: 20px;
}
.cross-btn{
    position: absolute;
    top: 1%;
    right: 2%;
    font-size:1.5rem ;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width : 1000px) {
    .newBox{
        width: 80vw;
    }
    
}
@media screen  and  (max-width:600px){
    .newBox{
        position: fixed;
    }
}
@media screen and (max-width:400px) {
    .newBox-title-wrapper{
        flex-direction: column;
    }
    .newBox-date{
        width: 100%;
    }
}